.footer {
    display: flex;
    flex-direction: column;
    gap: 2.5em;
    background: #070707;
    padding: 5em 5em .5em 5em;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}


.footer-footer .copyright {
    margin-top: 8em;
    border-top: 2px solid rgba(38, 38, 38, .5);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-footer .copyright .polices {
    display: flex;
    gap: 1.5em;
}

.footer-footer .copyright .polices a {
    display: flex;
    position: relative;
}

.footer-footer .copyright .polices a:nth-of-type(1)::after {
    content: "";
    width: 27px;
    height: 24px;
    border-right: 2px solid rgba(38, 38, 38, .5);
    position: absolute;
    right: -10px;
} 

 .footer-footer .copyright .polices a:nth-of-type(2)::after {
    content: "";
    width: 27px;
    height: 24px;
    border-right: 2px solid rgba(38, 38, 38, .5);
    position: absolute;
    right: -10px;
} 

.footer-footer .copyright p {
    margin-top: 1.5em;
}

.footer .footer-container .footer-home {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.footer .footer-container .footer-home h4 {
    color: var(--white-color);
    font-size: 1em;
    font-weight: 700;

}

.footer .footer-container .footer-home .footer-home-pgs {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.footer .footer-container .footer-home .footer-home-pgs a {
    color: #A6A6A6;
    font-size: .9em;
    font-weight: 600;
}

.footer .footer-container .footer-movies {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.footer .footer-container .footer-movies h4 {
    color: var(--white-color);
    font-size: 1em;
    font-weight: 800;
}

.footer .footer-container .footer-movies .footer-movies-pgs {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.footer .footer-container .footer-movies .footer-movies-pgs a {
    color: #A6A6A6;
    font-size: .9em;
    font-weight: 600;
}

.footer .footer-container .footer-shows {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.footer .footer-container .footer-shows h4 {
    color: var(--white-color);
    font-size: 1em; 
    font-weight: 800;
}

.footer .footer-container .footer-shows .footer-shows-pgs {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.footer .footer-container .footer-shows .footer-shows-pgs a {    
    color: #A6A6A6;
    font-size: .9em;
    font-weight: 600;
}   

.footer .footer-container .footer-support {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.footer .footer-container .footer-support h4 {    
    color: var(--white-color);
    font-size: 1em;
    font-weight: 800;
}   

.footer .footer-container .footer-support .footer-support-pgs {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.footer .footer-container .footer-support .footer-support-pgs a {
    color: #A6A6A6;
    font-size: .9em;
    font-weight: 600;
}

.footer .footer-container .footer-subscription {
    display: flex;
    flex-direction: column;
    gap: 1em;   
}

.footer .footer-container .footer-subscription h4 {
    color: var(--white-color);
    font-size: 1em;
    font-weight: 800;
}

.footer .footer-container .footer-subscription .footer-subscription-pgs {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.footer .footer-container .footer-subscription .footer-subscription-pgs a {
    color: #A6A6A6;
    font-size: .9em;
    font-weight: 600;
}

.footer .footer-container .footer-connect_us {
    display: flex;
    flex-direction: column;
    gap: 1em;  
}

.footer .footer-container .footer-connect_us h4 {
    color: var(--white-color);
    font-size: 1em;
    font-weight: 800;
}

.footer .footer-container .footer-connect_us .footer-connect_us-pgs {
    display: flex;
    gap: .5em;
}

.footer .footer-container .footer-connect_us .footer-connect_us-pgs a {
    color: #ffffff;
    background: #1A1A1A;
    padding: .8em;
    border-radius: .9em;
    border: 2px solid #262626;
    font-size: 1.2em;
}


.footer-footer .copyright p {
    color: #999999;
    font-size: .9em;
}


.footer-footer .copyright .polices a {
    color: #999999;
    font-size: .9em;
}

@media (max-width: 391px) {
    .footer {
        padding: 2em;
    }

    .footer-container {
        flex-direction: column;
        gap: 2em;
    }

    .footer-footer .copyright {
        flex-direction: column;
        gap: 1em;
    }
}