.free-trial {
  padding: 4em;
}

.free-trial .free-trial-container {
  background-image: url(../assets/imgs/free-trial-bg.png);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  height: 313px;
  border: 2px solid #262626;
  border-radius: 0.9em;
  padding: 4em;
}

.free-trial .free-trial-container .free-trial-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3em 1.9em;
}

.free-trial .free-trial-container .free-trial-content .free-trial-desc {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.free-trial .free-trial-container .free-trial-content .free-trial-desc h3 {
  color: var(--white-color);
  font-size: 1.9em;
  font-weight: 800;
}

.free-trial .free-trial-container .free-trial-content .free-trial-desc p {
  color: #999999;
  font-size: 0.82em;
  font-weight: 500;
}

.free-trial .free-trial-container .free-trial-content .free-trial-btn {
  background: #e50000;
  padding: 1.3em;
  border-radius: 0.8em;
  text-align: center;
}

.free-trial .free-trial-container .free-trial-content .free-trial-btn a {
  color: var(--white-color);
  font-size: 1em;
  font-weight: 800;
}

/* media queries */

@media (max-width: 391px) {
  .free-trial {
    padding: 1em;
  }

  .free-trial .free-trial-container {
    background-size: cover;
    background-position-x: 55%;
    background-repeat: no-repeat;
    border: 3px solid #262626;
    border-radius: 0.6em;
    height: auto;
    padding: 2em 1.5em;
  }

  .free-trial .free-trial-container .free-trial-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0em;
    height: 344px;
    gap: 1.5em;
  }

  .free-trial .free-trial-container .free-trial-content .free-trial-desc {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1em;
  }

  .free-trial .free-trial-container .free-trial-content .free-trial-desc h3 {
    font-size: 1.5em;
    line-height: 1.5em;
  }

  .free-trial .free-trial-container .free-trial-content .free-trial-desc p {
    font-size: 0.89em;
    line-height: 1.5em;
  }

  .free-trial .free-trial-container .free-trial-content .free-trial-btn {
    padding: 1.1em 2em;
  }
}
