:root {
  --orange-color: #f04b25;
  --yellow-color: #f5a805;
  --dark-color: #000;
  --yellow-color-25: #f4a90540;
  --primary-color: #12376b;
  --secondary-color: #f5f5f5;
  --blue-color: #286cd5;
  --gray-color: #616161;
  --gray-color-card-text: #686868;
  --card-image-layer: #f04b2526;
  --white-color: #fff;
  --semi-transparent: #00000021;
}
