.my-container {
  padding: 4em;
}

.movies-main-imgs {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  margin-bottom: 2em;
}

.movies-main-imgs img {
  width: 100%;
  height: 100%;
  border-radius: 0.9em;
  border: 2px solid #262626;
}

.movies-main-imgs .black {
  width: 91.6%;
  height: 86%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: linear-gradient(
    to top,
    rgba(20, 20, 20, 0.99),
    rgba(20, 20, 20, 0.2)
  );
  border-radius: 0.9em;
}

.movies-main-desc {
  position: absolute;
  bottom: -4em;
  color: #fff;
  padding: 1em;
  border-radius: 0.9em;
}

.movies-main-desc h3 {
  text-align: center;
  font-size: 2.2em;
  font-weight: 700;
}

.movies-main-desc p {
  display: flex;
  margin: 0 auto;
  text-align: center;
  font-size: 1em;
  font-weight: 500;
  color: #999999;
  width: 70%;
  margin-top: 1.1em;
  line-height: 1.7em;
}

.movies-main-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1em;
  position: absolute;
  bottom: -7em;
}

.movies-main-btns .main-brief-btn button {
  display: flex;
  gap: 0.8em;
  align-items: center;
  background-color: #e50914;
  border: none;
  padding: 0.7em 2em;
  border-radius: 0.6em;
  color: #fff;
}

.movies-main-btns .main-brief-btn button span {
  font-weight: 700;
  font-size: 1em;
}

.movies-main-btns .movies-main-plus {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #171616;
  border: 2.3px solid #1f1f1f;
  border-radius: 0.8em;
  width: 3em;
  height: 3em;
}

.movies-main-btns .movies-main-plus i {
  cursor: pointer;
}

.movies-main-btns .movies-main-like {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #171616;
  border: 2.3px solid #1f1f1f;
  border-radius: 0.8em;
  width: 3em;
  height: 3em;
}

.movies-main-btns .movies-main-like img {
  width: 1.2em;
  height: 1.2em;
  cursor: pointer;
}

.movies-main-btns .movies-main-volume {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #171616;
  border: 2.3px solid #1f1f1f;
  border-radius: 0.8em;
  width: 3em;
  height: 3em;
}

.movies-main-btns .movies-main-volume i {
  width: 1.1em;
  cursor: pointer;
}

.movies-main-swipers-arrows {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -14em;
  width: 100%;
}

.movies-main-swipers-arrows .categories-header-arrows {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  gap: 0.8em;
  color: #fff;
}

.movies-main-swipers-arrows .categories-header-arrows i {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #171616;
  border: 2.3px solid #1f1f1f;
  border-radius: 0.8em;
  width: 2.5em;
  height: 2.5em;
  cursor: pointer;
}

.movies-main-swipers-arrows .categories-header-arrows .swipers {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3em;
}

.movies-main-swipers-arrows
  .categories-header-arrows
  .swipers
  .categories-header-arrows-swipers {
  width: 1em;
  height: 0.25em;
  background: #333333;
  border-radius: 6.25em;
  cursor: pointer;
}

.movies-categories {
  padding: 2em 2em;
}

.movies-categories .categories {
  background: #121111;
  border-radius: 0.5em;
  border: 2px solid #262626;
  position: relative;
}

.top-movies h2 {
  position: absolute;
  z-index: 10;
  color: #fff;
  background: #e50914;
  width: fit-content;
  padding: 0.5em 0.9em;
  border-radius: 0.5em;
  margin: 0.6em 1em;
  margin-inline-start: 2em;
  font-weight: 700;
}

.top-movies {
  margin-bottom: 3em;
}

.popular-top10 .categories-body-cards-card {
  width: calc((100% - 4.5em) / 4) !important;
  margin: auto;
}

.popular-top10 .categories-body-cards-card p {
  display: flex;
  align-self: flex-start;
  margin: 0.5em 0;
  font-size: 0.8em;
  background: #e50914;
  padding: 0.3em 0.5em;
  border-radius: 0.6em;
  color: #ffffff;
}

.trending .categories-body-cards-card .categories-body-cards-card-desc {
  margin-top: 1em;
}

.trending .categories-body-cards-card .categories-body-cards-card-desc img {
  width: 80%;
}

.trending
  .categories-body-cards-card
  .categories-body-cards-card-desc
  .eye-in-desc {
  display: flex;
  align-items: center;
  gap: 0.1em;
  background-color: #0a0a0a;
  border: 2px solid #262626;
  padding: 0.2em 0.5em;
  border-radius: 0.4em;
}

.trending
  .categories-body-cards-card
  .categories-body-cards-card-desc
  .watching-numbers
  p {
  margin: 0 !important;
  font-size: 0.8em;
  color: #999999;
  font-weight: 900;
}

.trending .categories-body-cards-card .categories-body-cards-card-desc i {
  background-color: #0a0a0a;
  border: 2px solid #262626;
  border-radius: 1em;
  padding: 0.5em 0.5em;
  color: #999999;
}

.new-release .categories-body-cards-card .categories-body-cards-card-desc {
  margin-top: 1em;
  background: #0a0a0a;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  /* align-self: center !important; */
  border-radius: 1em;
  border: 2px solid #262626;
  padding: 0.5em 0.5em;
}

.new-release .categories-body-cards-card .categories-body-cards-card-desc h5 {
  font-size: 0.9em;
  color: #302f2f;
  margin: 0;
  font-weight: 700;
}

.new-release
  .categories-body-cards-card
  .categories-body-cards-card-desc
  h5
  span {
  color: #999999;
  font-weight: 700;
}

.must .categories-body-cards-card .categories-body-cards-card-desc {
  margin-top: 1.5em;
}

.must .categories-body-cards-card .categories-body-cards-card-desc i {
  background-color: #0a0a0a;
  border: 2px solid #262626;
  border-radius: 1em;
  padding: 0.5em 0.5em;
  color: #999999;
}

.must
  .categories-body-cards-card
  .categories-body-cards-card-desc
  .watching-numbers {
  display: flex;
}

.must
  .categories-body-cards-card
  .categories-body-cards-card-desc
  .watching-numbers
  p {
  margin: 0 !important;
  font-size: 0.9em;
  color: #999999;
  font-weight: 900;
}
.must
  .categories-body-cards-card
  .categories-body-cards-card-desc
  .eye-in-desc {
  display: flex;
  align-items: center;
  gap: 0.1em;
  background-color: #0a0a0a;
  border: 2px solid #262626;
  padding: 0.2em 0.5em;
  border-radius: 0.8em;
  width: 50%;
}

.must .categories-body-cards-card {
  width: calc((100% - 4.5em) / 4) !important;
  margin: auto;
}

.movies-shows .trending .categories-body-cards-card {
  width: calc((100% - 4.5em) / 4) !important;
  margin: auto;
}
.movies-shows .new-releases .categories-body-cards-card {
  width: calc((100% - 4.5em) / 4) !important;
  margin: auto;
}

.movies-shows .new-releases .categories-body-cards-card-desc {
  display: flex;
  justify-content: space-between !important;
  align-items: center !important;
  margin-top: 1em;
  align-items: center;
}

.movies-shows .new-releases .categories-body-cards-card-desc i {
  background-color: #0a0a0a;
  border: 2px solid #262626;
  border-radius: 1em;
  padding: 0.5em 0.5em;
  color: #999999;
}

.movies-shows .new-releases .categories-body-cards-card-desc .eye-in-desc {
  display: flex;
  align-items: center !important;
  gap: 0.1em;
  background-color: #0a0a0a;
  border: 2px solid #262626;
  border-radius: 0.4em;
  padding: 0.2em 0.5em;
  color: #999999;
}

.movies-shows
  .new-releases
  .categories-body-cards-card-desc
  .eye-in-desc
  .watching-numbers
  p {
  margin: 0 !important;
  font-size: 0.8em;
  font-weight: 900;
}

.movies-shows
  .new-releases
  .categories-body-cards-card-desc
  .eye-in-desc
  .eye-img
  img {
  width: 80%;
}

/* media queries */

@media (max-width: 1921px) {
}

@media (max-width: 1441px) {
}

@media (max-width: 391px) {
  .movies-categories .categories {
    background: none;
    border: none;
  }

  .movies-categories {
    width: 100%;
    margin: auto;
  }

  .movies-shows {
    display: none;
    /* visibility: hidden; */
    /* opacity: 0; */
  }

  .top-movies h2 {
    /* padding: 0.4em 0.5em;
    margin: 1em 1em;
    margin-inline-start: .9em;
    font-size: 1.3em; */
    display: none;
  }

  .movies-main-imgs .black {
    width: 76.6%;
  }

  .movies-main-imgs {
    width: 90%;
    margin: auto;
}

  .movies-main-imgs img {
    width: 110%;
    height: 20.5em;
    object-fit: cover !important;
    margin-top: 0.1em;
    margin: auto;
}
  .movies-categories .categories .mobile-swipers {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5em;
  }

  .movies-main-desc {
    position: relative;
    top: -14em;
    left: 1em;
}

  .movies-main-desc h3 {
    font-size: 1.2em;
    
  }

  .movies-main-desc p {
    display: none;
  }

}
